.footer {
  margin-top: 80px;
}

.footer__info {
  margin-top: 24px;
}

.footer__info-head {
  font-size: 1.6em;
  color: var(--header-color);
}

.footer__info-list {
}

.footer__info-item {
  font-size: 1.4em;
  line-height: 2;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 4px;
}

.footer__icon {
  width: 24px;
  height: 24px;
  color: var(--primary-color);
  flex-shrink: 0;
  flex-grow: 0;
}

.footer__foot {
  height: 74px;
  background-color: var(--bg-color);
}

.footer__foot .footer__icon {
  cursor: pointer;
  margin-left: 12px;
}